doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Bouineurs Web Site')
		meta(name='author', content='Lutine Powa')

		title Bouineurs - 4L Trophy
		link(href='/static/stylesheets/bootstrap.min.css', rel='stylesheet')
		link(href='/static/stylesheets/styles.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')

body(id='page-top', data-spy='scroll', data-target='.navbar-fixed-top')
	include ../public/javascripts/apiFacebook.js
	div(class='bande1 hidden-xs hidden-sm')
	div(class='bande2 hidden-xs hidden-sm')
	div(class='logobouineur hidden-xs hidden-sm')
	div(class='blue-band-left hidden-xs hidden-sm col-md-2 col-mg-4')

	block content