extends layout

block content
	header(id='error',class='intro')
		div(class'intro-body')
			div(class='container')
				div(class='row')
					div(class='col-md-10 col-md-offset-1 content')
						h1
							span DL-
							span(style='color:green') 404
							span -HK
						h1 :(
						h3 It seems you try to access to an unknown page...
