	 <!-- Intro Header -->
    <header id="home" class="intro">
        <div class="intro-body">
            <div class="container full-height">
                <div class="row">
                	<div class="col-md-12">
                  	<h1>BOUINEURS 3.0</h1>								
                  </div>
                </div>
					<div class="row" style="margin-top:10%">                		
						<h2 class="start">Départ 4L Trophy:</h2>
						<div class="col-md-12 col-lg-12	 col-xs-12 countDown countDownTrophy"></div>
                </div>
            </div>
        </div>
    </header>
	
	<!-- jQuery -->
	<script src="/static/javascripts/jquery.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="/static/javascripts/jquery.easing.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/static/javascripts/bootstrap.min.js"></script>

	<script src="/static/javascripts/jquery.countdown.js"></script>

	<script>
	$(function() {
		 $('.countDownTrophy').countdown({
			  date:  new Date("February 16, 2016 12:00:00"),
			 	render: function(data) {
            $(this.el).html("<div>" + this.leadingZeros(data.days, 3) + " <span>jours</span></div><div>" + this.leadingZeros(data.hours, 2) + " <span>heures</span></div><div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div><div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
          }
		 });
		  
		  
	  });
	</script>