<div class="jumbotron">
  <shortcut></shortcut>

  <h1>Administration</h1>
  <div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nom Processus</th>
          <th>Status</th>
          <th>CPU</th>
          <th>Uptime</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in process track by $index">

          <td scope="row" >{{p.name}}</td>
          <td>{{p.pm2_env.status}}</td>
          <td>{{p.monit.cpu}}%</td>
          <td>{{printUptime(p.pm2_env.pm_uptime)}}</td>
            <td>
              <!--<a class="btn btn-primary" ng-click="actionsOnProcess(p.name,'KILL')">Kill</a>-->
              <a class="btn btn-danger" ng-click="actionsOnProcess(p.name,'STOP')">Stop ({{p.keyStringStop}})</a>
              <a class="btn btn-warning" ng-click="actionsOnProcess(p.name,'RESTART')">Restart ({{p.keyStringRestart}})</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>
