
<h2>Navigation Board</h2>
<p>
    <div class="btn-group btn-lg btn-primary" ng-click="TakePictureAction()" role="button">
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
       Take Picture (3)
   </div>
   <div class="btn-group btn-lg btn-pink" ng-click="HeartOnYouAction()" role="button">
       <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      Coeur sur toi ! (4)
  </div>
  <div class="btn-group btn-lg btn-success" ng-click="LikeLastPictureAction()" role="button">
      <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
     Like Last Picture (5)
 </div>
  <shortcut></shortcut>
</p>
<a href="" ng-class="{'thumbnail':pictureType !== 'heart','fav-thumbnail':pictureType == 'heart'}">
  <img ng-hide="onloading" src="{{picturePath}}" style="height:400px !important;" alt="last pictures" />
  <div ng-show="onloading" ><center><img src="/static/img/loading.gif" style="height:400px !important;" alt="last pictures" /></center></div>
</a>
